// :root 是根元素的伪类，表示html元素，优先级较html元素高
:root {
    --amount-text: #53A867;
    --bg: white;
    --button-bg-danger: #cfa1a1;
    --button-bg-important: #b1d5c8;
    --button-bg-normal: white;
    --button-bg: #b1d5c8;
    --button-border-color: #ddd;
    --button-border-radius: 8px;
    --button-font-size: 18px;
    --button-height: 48px;
    --button-text-color: #333;
    --button-text-important: #777;
    --date-text: #999999;
    --dialog-header-text: white;
    --emoji-nav-text-selected: #333;
    --emoji-nav-text: #999;
    --error-color: #E10505;
    --float-button-bg: #b1d5c8;
    --float-button-text-color: white;
    --input-border-color: #5c33be;
    --input-min-height: 48px;
    --input-radius: var(--button-border-radius);
    --input-shadow: rgba(0,0,0,0.25);
    --list-amount-text: var(--amount-text);
    --list-tag-text: #333;
    --list-time-text: var(--date-text);
    --main: #014872;
    --nav-bg-end: var(--welcome-bg-end);
    --nav-bg-start:  var(--welcome-bg-start);
    --nav-text-color: white;
    --overlay-bg: white;
    --overlay-mask-bg: rgba(0, 0, 0, 0.5);
    --overlay-safe-area-top: 24px;
    --overlay-user-bg: #76c7bd;
    --overlay-user-text: white;
    --tabs-indicator-bg: rgb(255, 255, 255, 0.8);
    --tag-bg: #EFEFEF;
    --total-bg: #252A43;
    --total-expenses: #53A867;
    --total-income: #FE7275;
    --total-text: white;
    --welcome-actions-text-color: white;
    --welcome-bg-end: #014872;
    --welcome-bg-start: #a0eacf;
    --welcome-card-bg-color: white;
    --welcome-nav-gap: 8px;
    --welcome-nav-height: 64px;
    --welcome-text-color: white;
    --z-index-bottom-nav: 8;
    --z-index-overlay: 16;
}