// :root 是根元素的伪类，表示html元素，优先级较html元素高
:root {
    --welcome-card-bg-color: white;
    --welcome-actions-text-color: white;
    --welcome-bg-start: #a0eacf;
    --welcome-bg-end: #014872;
    --welcome-nav-height: 64px;
    --welcome-text-color: white;
    --welcome-nav-gap: 8px;
    --z-index-bottom-nav: 8;
    --z-index-overlay: 16;
    --button-bg: #b1d5c8;
    --button-text-color: #333;
    --button-font-size: 18px;
    --button-border-radius: 8px;
    --button-height: 48px;
    --float-button-text-color: white;
    --float-button-bg: #b1d5c8;
    --nav-bg-start:  var(--welcome-bg-start);
    --nav-bg-end: var(--welcome-bg-end);
    --nav-text-color: white;
    --overlay-mask-bg: rgba(0, 0, 0, 0.5);
    --overlay-bg: white;
    --overlay-safe-area-top: 24px;
    --overlay-user-bg: #76c7bd;
    --overlay-user-text: white;
    --tabs-indicator-bg: rgb(255, 255, 255, 0.8);
    --button-border-color: #ddd;
    --button-bg-normal: white;
    --button-bg-important: #b1d5c8;
    --button-text-important: #777;
}