.navbar {
    background: linear-gradient(to bottom, var(--nav-bg-start) 0%, var(--nav-bg-end) 100%);
    color:var(--nav-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 44px 12px 16px;
}
.title_wrapper {
    font-size: 24px;
    margin-left: 12px;
}
.icon_wrapper {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    // 防止内部icon大小超过wrapper大小
    * {
        max-width: 100%;
        max-height: 100%;
    }
}