.mask {
    position: fixed;
    top: var(--overlay-safe-area-top);
    z-index: var(--z-index-overlay);
    left: 0;
    width: 100%;
    height: calc(100% - var(--overlay-safe-area-top));
    background-color: var(--overlay-mask-bg);
}
.overlay {
    color: var(--text);
    position: fixed;
    top: var(--overlay-safe-area-top);
    left: 0;
    z-index: calc(var(--z-index-overlay) + 1);
    width: 16em;
    height: calc(100% - var(--overlay-safe-area-top));
    background-color: var(--overlay-bg);
    .currentUser {
        padding: 32px 16px;
        background: var(--overlay-user-bg);
        color: var(--overlay-user-text);
      }
      .action {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 12px 16px;
        &_list {
          padding-top: 16px;
          font-size: 20px;
        }
        > .icon {
          margin-right: 12px;
        }
      }
      
}
.icon {
  width: 30px;
  height: 30px;
  fill: var(--nav-text-color);
  // 微调位置
  margin-top: 2px;
}